.profile-container {
    display: flex;
    margin-top: 20px;
}

.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

h2 {
   margin-left: 20px;
   color: #bdd2ff25;
}

#backlink {
    font-size: 1rem;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
}

#backlink:hover {
    background-color: #fff;
    color: #000;
}

.arrow-left {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
 .profile__info-main {
    margin-top: 20px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 10px;
}
.profile__info-main, a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color:aqua;
    text-decoration: underline;
}

.user-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    color: #096ef1;
}

.profile-stats {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top : 20px;
}

.profile-stats__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #f503a4;
    grid-template-columns: auto;
}

.profile-repos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin: 40px;
}

#repos-title{ 
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
}

@media screen and (max-width: 720px)  {
    .profile-repos {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media screen and (max-width: 480px)  {
    .profile-repos {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }
    .user-bio, span{
        max-width: 300px;
        margin-left: 20px;
    }
}







