@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: #241e1e;
    padding: 30px;
    margin: 30px;
}

@media screen and (max-width: 480px) {
    body {
        padding: 0;
        margin: 0;
    }
}
    
